<p>Total Restaurants: {{ restaurants.length }}</p><section class="featured-section">

    <div class="section-title">
        <h2>
            <i class="fa-solid fa-utensils"></i>
            Featured Restaurants
        </h2>

        <p>Discover the highest rated restaurants near you</p>
    </div>

    <div class="restaurant-grid">
@for (restaurant of restaurants; track restaurant.id){
        <div class="restaurant-card">

            <div class="image-container">

                <!-- <img src="assets/images/restaurants/pizza-palace.png"
                     alt="Pizza Palace"> -->



                <img [src]="restaurant.image"
                     [alt]="restaurant.name">


                <span class="discount-badge">
                    🔥 {{restaurant.discount}} 
                </span>

                <button class="favorite-btn">
                    <i class="fa-regular fa-heart"></i>
                </button>

            </div>

            <div class="restaurant-info">

                <h3>{{restaurant.name}}</h3>

                <div class="restaurant-meta">

                    <span>
                       {{restaurant.rating}} ⭐
                    </span>

                    <span>
                        ⏱ {{restaurant.deliveryTime}}
                    </span>

                </div>

                <p>📍 {{restaurant.location}}</p>

                <p>                    ₹{{restaurant.priceForTwo}} for two
</p>
                @if (restaurant.freeDelivery) {
                <span class="delivery">
                    Free Delivery
                </span>
            }

            </div>

          </div>

    }
    </div>

</section>