html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #f5f7fb;
}

* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.primary-btn{
    background:#ff6b00;
    color:white;
}

.spacer{
    flex:1;
}