<div class="orders-page">

    <div class="page-header">

        <div class="page-title">

            <h1>🛍 My Orders</h1>

            <p>Track all your previous orders</p>

        </div>

        <button class="refresh-btn" (click)="refreshOrders()">

            ↻ Refresh

        </button>

    </div>

    @if (orders.length === 0) {

    <div class="empty-orders">

        <h2>No Orders Yet 🍕</h2>

        <p>Looks like you haven't placed any order.</p>

    </div>

    }

    @else {

    <div class="orders-grid">

        @for(order of orders; track order.id){

        <div class="order-card">

            <div class="order-header">

                <h3>Order #{{order.id}}</h3>

                <span class="status" [ngClass]="getStatusClass(order.status)">

                    {{ order.status }}

                </span>

            </div>

            <h2 class="restaurant-name">

                {{ order.restaurantName }}

            </h2>

            <hr>

            <p>

                📅 {{ order.createdAt | date:'mediumDate' }}

            </p>

            <h2>

                ₹{{ order.totalAmount }}

            </h2>

            <button

                class="details-btn"

                [routerLink]="['/orders', order.id]">

                View Details →

            </button>

            @if (canCancel(order.status)) {
                <button
                    class="cancel-btn"
                    (click)="cancelOrder(order.id)">

                    Cancel Order

                </button>
            }

        </div>

        }

    </div>

    }

</div>
